/*Контейнер, в котором расположен выбор подписки на Spotify.*/
.spotify-container {
    width: 100%;
    background-color: #ECF3FB;
}

/*Заголовок.*/
.title h1 {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: #171717;
    padding-top: 80px;
    padding-bottom: 20px;
}

.title p:first-of-type {
    font-family: 'Gotham Pro' , sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: #333333;
}

.title p:first-of-type br:last-of-type {
    display: none;
}

.title span {
    color: #1749B3;
}

/*Контейнер, в котором располагаются варианты подписки.*/
.subscriptions-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 83.33%;
    margin: 0 auto;
    margin-top: 52px;
}

/*Первый вариант подписки.*/
.spotify-individual {
    -webkit-box-flex: 32.42%;
        -ms-flex: 32.42% 0 0px;
            flex: 32.42% 0 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
            box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px; 
    margin-bottom: 20px;
}

.spotify-individual h2{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: #0F0F0F;
    margin-top: 60px;
    margin-bottom: 32px;
}

.spotify-individual hr {
    border: 1px solid #DBDBDB;
}

.spotify-individual div:first-of-type {
    margin-top: 36px;
}

.spotify-individual div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78.41%;
    margin: 0 auto;
    margin-top: 15px;
}

.spotify-individual div p {
    width: 86.23%;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    margin: 0px 0px 0px 3.87%;
}

.spotify-individual div svg {
    width: 32px;
    height: 32px;
    fill: #5C5C5C;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.spotify-individual:hover svg {
    fill: #33CC33;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.spotify-individual div:nth-of-type(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 64px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.spotify-individual div:nth-of-type(4) p:first-of-type {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: #0F0F0F;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    width: auto;
}

.spotify-individual div:nth-of-type(4) p:last-of-type {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #0F0F0F;
    margin-left: 0px;
    width: auto;
}

.spotify-individual div:nth-of-type(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79.43%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.spotify-individual div:nth-of-type(5) a {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    background: #333333;
    border-radius: 12px;
    text-decoration: none;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.spotify-individual div:nth-of-type(5) a:hover {
    background: #1749B3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

/*Второй вариант подписки.*/
.spotify-duo {
    -webkit-box-flex: 32.42%;
        -ms-flex: 32.42% 0 0px;
            flex: 32.42% 0 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
            box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px; 
    margin-bottom: 20px;
}

.spotify-duo h2{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: #0F0F0F;
    margin-top: 60px;
    margin-bottom: 32px;
}

.spotify-duo hr {
    border: 1px solid #DBDBDB;
}

.spotify-duo div:first-of-type {
    margin-top: 36px;
}

.spotify-duo div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78.41%;
    margin: 0 auto;
    margin-top: 20px;
}

.spotify-duo div p {
    width: 86.23%;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    margin: 0px 0px 0px 3.87%;
}

.spotify-duo div svg {
    width: 32px;
    height: 32px;
    fill: #5C5C5C;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.spotify-duo:hover svg {
    fill: #33CC33;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.spotify-duo div:nth-of-type(3) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 74px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.spotify-duo div:nth-of-type(3) p:first-of-type {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: #0F0F0F;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    width: auto;
}

.spotify-duo div:nth-of-type(3) p:last-of-type {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #0F0F0F;
    margin-left: 0px;
    width: auto;
}

.spotify-duo div:nth-of-type(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79.43%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.spotify-duo div:nth-of-type(4) a {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    background: #333333;
    border-radius: 12px;
    text-decoration: none;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.spotify-duo div:nth-of-type(4) a:hover {
    background: #1749B3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

/*Третий вариант подписки.*/
.spotify-family {
    -webkit-box-flex: 32.42%;
        -ms-flex: 32.42% 0 0px;
            flex: 32.42% 0 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
            box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    border-radius: 32px; 
    margin-bottom: 20px;
}

.spotify-family h2{
    font-family: 'Gotham Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
    color: #0F0F0F;
    margin-top: 60px;
    margin-bottom: 32px;
}

.spotify-family hr {
    border: 1px solid #DBDBDB;
}

.spotify-family div:first-of-type {
    margin-top: 36px;
}

.spotify-family div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 78.41%;
    margin: 0 auto;
    margin-top: 20px;
}

.spotify-family div p {
    width: 86.23%;
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    margin: 0px 0px 0px 3.87%;
}

.spotify-family div svg {
    width: 32px;
    height: 32px;
    fill: #5C5C5C;
    -ms-flex-item-align: start;
        align-self: flex-start;
}

.spotify-family:hover svg {
    fill: #33CC33;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

.spotify-family div:nth-of-type(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.spotify-family div:nth-of-type(4) p:first-of-type {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 130%;
    color: #0F0F0F;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin: 0;
    width: auto;
}

.spotify-family div:nth-of-type(4) p:last-of-type {
    font-family: 'Gotham Pro', sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    color: #0F0F0F;
    margin-left: 0px;
    width: auto;
}

.spotify-family div:nth-of-type(5) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 79.43%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 40px;
}

.spotify-family div:nth-of-type(5) a {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 130%;
    color: #FFFFFF;
    background: #333333;
    border-radius: 12px;
    text-decoration: none;
    width: 100%;
    padding: 16px 0;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.spotify-family div:nth-of-type(5) a:hover {
    background: #1749B3;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
}

@media all and (max-width: 1358px) {
    .spotify-duo div:nth-of-type(3) {
        margin-top: 96px;
    }
    .spotify-individual div:nth-of-type(4) {
        margin-top: 86px;
    }
}

@media all and (max-width: 1290px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 70px;
    }
}

@media all and (max-width: 1277px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 94px;
    }
}

@media all and (max-width: 1257px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 109px;
    }
    .spotify-duo div:nth-of-type(3) {
        margin-top: 112px;
    }
}

@media all and (max-width: 1095px) {
    .subscriptions-container {
        width: 913px;
    }
}

@media all and (max-width: 1050px) {
    .spotify-individual:hover svg {
        fill: #5C5C5C;
        -webkit-transition: 0.0s;
        transition: 0.0s;
        -moz-transition: 0.0s;
        -o-transition: 0.0s;
    }
    .spotify-family:hover svg {
        fill: #5C5C5C;
        -webkit-transition: 0.0s;
        transition: 0.0s;
        -moz-transition: 0.0s;
        -o-transition: 0.0s;
    }
    .spotify-duo:hover svg {
        fill: #5C5C5C;
        -webkit-transition: 0.0s;
        transition: 0.0s;
        -moz-transition: 0.0s;
        -o-transition: 0.0s;
    }
}

@media all and (max-width: 990px) {
    .subscriptions-container {
        width: 89.71%;
    }
    .spotify-duo div:nth-of-type(3) {
        margin-top: 88px;
    }
    .navbar__wrap {
        width: 89.71%;
    }
}

@media all and (max-width: 988px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 110px;
    }
}

@media all and (max-width: 981px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 94px;
    }
}

@media all and (max-width: 927px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 78px;
    }
}

@media all and (max-width: 912px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 102px;
    }
}

@media all and (max-width: 900px) {
    .subscriptions-container {
        width: 89.71%;
    }
    .spotify-individual {
        -webkit-box-flex: 32.51%;
            -ms-flex: 32.51% 0 0px;
                flex: 32.51% 0 0;
        border-radius: 24px; 
        margin-bottom: 16px;
    }
    
    .spotify-individual h2{
        font-size: 25px;
        margin-top: 32px;
        margin-bottom: 20px;
    }
    .spotify-individual div:first-of-type {
        margin-top: 21px;
    }
    .spotify-individual div {
        width: 85.27%;
        margin-top: 13px;
    }
    .spotify-individual p {
        font-size: 15px;
    }
    .spotify-individual div:nth-of-type(4) {
        margin-top: 119px;
    }
    .spotify-individual div:nth-of-type(4) p:first-of-type {
        font-size: 20px;
    }
    .spotify-individual div:nth-of-type(4) p:last-of-type {
        font-size: 40px;
    }
    .spotify-individual div:nth-of-type(5) {
        width: 85.71%;
        margin-top: 23px;
        margin-bottom: 32px;
    }
    .spotify-individual div:nth-of-type(5) a {
        font-size: 17px;
        padding: 14px 0;
    }
    .spotify-duo {
        -webkit-box-flex: 32.51%;
            -ms-flex: 32.51% 0 0px;
                flex: 32.51% 0 0;
        border-radius: 24px; 
        margin-bottom: 16px;
    }
    .spotify-duo h2{
        font-size: 25px;
        margin-top: 32px;
        margin-bottom: 20px;
    }
    .spotify-duo div:first-of-type {
        margin-top: 21px;
    }
    .spotify-duo div {
        width: 85.27%;
        margin-top: 13px;
    }
    .spotify-duo p {
        font-size: 15px;
    }
    .spotify-duo div:nth-of-type(3) {
        margin-top: 116px;
    }
    .spotify-duo div:nth-of-type(3) p:first-of-type {
        font-size: 20px;
    }
    .spotify-duo div:nth-of-type(3) p:last-of-type {
        font-size: 40px;
    }
    .spotify-duo div:nth-of-type(4) {
        width: 85.71%;
        margin-top: 23px;
        margin-bottom: 32px;
    }
    .spotify-duo div:nth-of-type(4) a {
        font-size: 17px;
        padding: 14px 0;
    }
    .spotify-family {
        -webkit-box-flex: 32.51%;
            -ms-flex: 32.51% 0 0px;
                flex: 32.51% 0 0;
        border-radius: 24px; 
        margin-bottom: 16px;
    }
    
    .spotify-family h2{
        font-size: 25px;
        margin-top: 32px;
        margin-bottom: 20px;
    }
    .spotify-family div:first-of-type {
        margin-top: 21px;
    }
    .spotify-family div {
        width: 85.27%;
        margin-top: 13px;
    }
    .spotify-family p {
        font-size: 15px;
    }
    .spotify-family div:nth-of-type(4) {
        margin-top: 55px;
    }
    .spotify-family div:nth-of-type(4) p:first-of-type {
        font-size: 20px;
    }
    .spotify-family div:nth-of-type(4) p:last-of-type {
        font-size: 40px;
    }
    .spotify-family div:nth-of-type(5) {
        width: 85.71%;
        margin-top: 23px;
        margin-bottom: 32px;
    }
    .spotify-family div:nth-of-type(5) a {
        font-size: 17px;
        padding: 14px 0;
    }
}

@media all and (max-width: 895px) {
    .title h1 {
        font-size: 28px;
        padding-top: 52px;
        padding-bottom: 16px;
    }
    .title p:first-of-type {
        font-size: 17px;
    }
    .subscriptions-container {
        margin-top: 32px;
    }
}

@media all and (max-width: 850px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 103px;
    }
}

@media all and (max-width: 836px) {
    .spotify-individual div:nth-of-type(4) {
        margin-top: 127px;
    }
}

@media all and (max-width: 818px) {
    .spotify-family div:nth-of-type(4) {
        margin-top: 31px;
    }
}

@media all and (max-width: 801px) {
    .spotify-duo div:nth-of-type(3) {
        margin-top: 92px;
    }
}

@media all and (max-width: 759px) {
    .subscriptions-container {
        width: 87.47%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .navbar__wrap {
        width: 87.47%;
    }
    .spotify-individual {
        -webkit-box-flex: 100%;
            -ms-flex: 100% 0 0px;
                flex: 100% 0 0;
    }
    .spotify-individual div {
        width: 90.85%;
        margin-top: 17px;
    }
    .spotify-individual div:nth-of-type(4) {
        margin-top: 40px;
    }
    .spotify-individual div:nth-of-type(5) {
        width: 90.85%;
    }
    .spotify-individual div:nth-of-type(5) a {
        background-color: #1749B3;
    }
    .spotify-duo {
        -webkit-box-flex: 100%;
            -ms-flex: 100% 0 0px;
                flex: 100% 0 0;
    }
    .spotify-duo div {
        width: 90.85%;
        margin-top: 17px;
    }
    .spotify-duo div:nth-of-type(3) {
        margin-top: 55px;
    }
    .spotify-duo div:nth-of-type(4) {
        width: 90.85%;
    }
    .spotify-duo div:nth-of-type(4) a {
        background-color: #1749B3;
    }
    .spotify-family {
        -webkit-box-flex: 100%;
            -ms-flex: 100% 0 0px;
                flex: 100% 0 0;
    }
    .spotify-family div {
        width: 90.85%;
        margin-top: 17px;
    }
    .spotify-family div:nth-of-type(4) {
        margin-top: 40px;
    }
    .spotify-family div:nth-of-type(5) {
        width: 90.85%;
    }
    .spotify-family div:nth-of-type(5) a {
        background-color: #1749B3;
    }
}

@media all and (max-width: 595px) {
    .spotify-duo div:nth-of-type(3) {
        margin-top: 40px;
    }
}

@media all and (max-width: 515px) {
    .title p:first-of-type br:last-of-type {
        display: inline;
    }
}

/*Оформление блока страницы Invite friends.*/
.container_invite_friends {
    width: 100%;
    background-color: #ECF3FB;
}

/*Блок Invite friends.*/
.invite_friends {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 83.33%;
    margin: 0 auto;
    background-color: #1749B3;
    -webkit-box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
            box-shadow: 0px 4px 24px rgba(213, 216, 221, 0.2);
    border-radius: 32px;
}

/*Левая часть блока Invite friends.*/
.invite_friends_left {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
}

.invite_friends_left h1 {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 26px;
    font-weight: 500;
    line-height: 140%;
    color: #FFFFFF;
    margin-top: 44px;
    margin-left: 13.33%;
    margin-right: 13.33%;
}

.invite_friends_left p {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 24px;
    margin-left: 13.33%;
    margin-right: 13.33%;
    margin-bottom: 44px;
}

/*Правая часть блока Invite friends.*/
.invite_friends_right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
}

.invite_friends_right-item {
    width: 74.17%;
    height: 123px;
    background: #F1F4F8;
    border-radius: 16px;
    margin: 0 auto;
    position: relative;
}

.invite_friends_right-item p {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 140%;
    text-align: center;
    color: #171717;
    position: absolute;
    top: 28px; left: 0; right: 0;
}

.invite_friends_right-item a {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    text-align: center;
    -webkit-text-decoration-line: underline;
            text-decoration-line: underline;
    text-transform: uppercase;
    color: #1749B3;
    cursor: pointer;
    position: absolute;
    top: 66px; left: 0; right: 0;
    -webkit-animation: Animation1 5s infinite;
            animation: Animation1 5s infinite;
}

@-webkit-keyframes Animation1
{
    from { color: #1749B3; }
    to { color: #b61515; }
}

@keyframes Animation1
{
    from { color: #1749B3; }
    to { color: #b61515; }
}

@media all and (max-width: 1095px) {
    .invite_friends {
        width: 913px;
    }
}

@media all and (max-width: 1005px) {
    .invite_friends_left {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-ordinal-group: 2;
            -ms-flex-order: 1;
                order: 1;
    }
    .invite_friends_right {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
        -webkit-box-flex: 0;
            -ms-flex-positive: 0;
                flex-grow: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
        -webkit-box-ordinal-group: 3;
            -ms-flex-order: 2;
                order: 2;
    }
}

@media all and (max-width: 990px) {
    .invite_friends {
        width: 89.71%;
    }
}

@media all and (max-width: 750px) {
    .invite_friends_none {
        height: 16px;
    }
    .invite_friends {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 87.20%;
        min-height: 300px;
        border-radius: 24px;
    }
    .invite_friends_left {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
    }
    .invite_friends_left h1 {
        font-size: 22px;
        margin-top: 32px;
        margin-left: 6.12%;
        margin-right: 6.12%;
    }
    .invite_friends_left p {
        margin-top: 16px;
        margin-left: 6.12%;
        margin-right: 6.12%;
        margin-bottom: 32px;
    }
    .invite_friends_right {
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
        min-width: 100%;
        min-height: 150px;
        -ms-flex-item-align: center;
            -ms-grid-row-align: center;
            align-self: center;
    }
    .invite_friends_right-item {
        width: 87.77%;
        height: 114px;
    }
    .invite_friends_right-item p { 
        font-size: 18px;
        top: 28px; left: 0; right: 0;
    }
    .invite_friends_right-item a {
        font-size: 18px;
        top: 65px; left: 0; right: 0;
    }
}

/*Блок, в котором расположены часто задаваемые вопросы.*/
.container-FAQ {
    width: 100%;
    background-color: #ECF3FB;
}

/*Заголовок.*/
.container-FAQ h1 {
    font-family: 'Gotham Pro', sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
    color: #171717;
    padding-top: 120px;
    padding-bottom: 40px;
}

/*Контейнер, в котором находятся сами вопросы.*/
.FAQ-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 83.33%;
    margin: 0 auto;
}

/*Блок с вопросом.*/
.FAQ-item {
    position: relative;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin-top: 16px;
    background-color: white;
    border-radius: 32px;
    -webkit-box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
            box-shadow: 0px 12px 28px rgba(244, 245, 245, 0.2);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.FAQ-item:first-of-type {
    margin-top: 0px;
}

/*Текст ответов в блоке FAQ.*/
.FAQ-text {
    font-family: 'Gotham Pro', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    color: #333333;
    line-height: 150%;
    margin-left: 3.33%;
    margin-right: 3.33%;
    padding-bottom: 35px;
    display: none;
}

/*Текст вопросов в блоке FAQ.*/
.FAQ-title {
    font-family: 'Gotham Pro', sans-serif; 
    font-weight: 600;
    font-size: 18px;
    color: #171717;
    line-height: 150%;
    display: block;
    padding-top: 39px;
    padding-bottom: 38px;
    margin-left: 3.33%;
    margin-right: 12%;
    cursor: pointer;
}

/*Расположение картинки открытия ответа*/
.FAQ-title svg:first-of-type {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 3.33%;
    top: 33px;
}

/*Расположение картинки закрытия ответа*/
.FAQ-title svg:last-of-type {
    width: 40px;
    height: 40px;
    display: none;
    position: absolute;
    right: 3.33%;
    top: 33px;
}

/*При нажатии на вопрос или картинку, отмечается чекбокс и картинка меняется на противоположную, путём скрытия картинки развертывания...*/
.FAQ-input:checked ~ .FAQ-title svg:first-of-type {
    display: none;
}

/*... и отображения картинки свертывания.*/
.FAQ-input:checked ~ .FAQ-title svg:last-of-type {
    display: inline;
}

/*Скрытие чекбокса*/
.FAQ-input {
    width: 0;
    height: 0;
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none;
    position: absolute;
}

/*При нажатии на вопрос или стрелочку "развертывания" отображается ответ на вопрос.*/
.FAQ-input:checked ~ .FAQ-text {
    display: block;
}

/*Кнопка Support.*/
.container-FAQ button {
    width: 243px;
    height: 48px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'Gotham Pro', sans-serif; 
    font-weight: 700; 
    font-size: 17px;
    border: none; 
    border-radius: 16px;
    background: #333333; 
    color: #FFFFFF;
    cursor: pointer; 
}

.container-FAQ button:hover {
    background-color: #ECF3FB;
    color: #333333;
    border: 2px solid #333333;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
}

/*Пустой контейнер, чтобы задать отступ от кнопки до футера.*/
.FAQ-none-end {
    width: 100%;
    height: 120px;
}

@media all and (max-width: 1200px) {
    .FAQ-container {
        width: 92.06%;
    }
}

@media all and (max-width: 768px) {
    .container-FAQ h1 {
        font-size: 25px;
        line-height: 140%;
        padding-top: 100px;
        padding-bottom: 32px;
    }
    .FAQ-container {
        width: 91.67%;
    }
    .FAQ-item {
        border-radius: 24px;
    }
    .FAQ-text {
        font-size: 16px;
        margin-left: 2.84%;
        margin-right: 2.84%;
        padding-bottom: 20px;
    }
    .FAQ-title {
        font-size: 17px;
        padding-top: 27px;
        padding-bottom: 27px;
        margin-left: 2.84%;
    }
    .FAQ-title svg:first-of-type {
        right: 2.84%;
        top: 20px;
    }
    .FAQ-title svg:last-of-type {
        right: 2.84%;
        top: 20px;
    }
    .container-FAQ button {
        margin-top: 32px;
    }
    .FAQ-none-end {
        height: 100px;
    }
}

@media all and (max-width: 750px) {
    .container-FAQ h1 {
        padding-bottom: 28px;
    }
    .FAQ-container {
        width: 87.20%;
    }
    .FAQ-text {
        margin-left: 6.73%;
        margin-right: 6.73%;
        padding-bottom: 20px;
    }
    .FAQ-title {
        padding-top: 27px;
        padding-bottom: 27px;
        margin-left: 6.73%;
        margin-right: 16%;
    }
    .FAQ-title svg:first-of-type {
        right: 6.73%;
    }
    .FAQ-title svg:last-of-type {
        right: 6.73%;
    }
    .FAQ-item:nth-of-type(4) svg:first-of-type {
        top: 30px;
    }
    .FAQ-item:nth-of-type(4) svg:last-of-type {
        top: 30px;
    }
}

@media all and (max-width: 670px) {
    .FAQ-item:nth-of-type(2) svg:first-of-type {
        top: 30px;
    }
    .FAQ-item:nth-of-type(2) svg:last-of-type {
        top: 30px;
    }
}

@media all and (max-width: 575px) {
    .FAQ-title {
        margin-right: 19%;
    }
}

@media all and (max-width: 551px) {
    .FAQ-item:nth-of-type(3) svg:first-of-type {
        top: 30px;
    }
    .FAQ-item:nth-of-type(3) svg:last-of-type {
        top: 30px;
    }
}

@media all and (max-width: 475px) {
    .FAQ-title {
        margin-right: 21%;
    }
}

@media all and (max-width: 458px) {
    .FAQ-item:nth-of-type(4) svg:first-of-type {
        top: 45px;
    }
    .FAQ-item:nth-of-type(4) svg:last-of-type {
        top: 45px;
    }
}

@media all and (max-width: 436px) {
    .FAQ-item:nth-of-type(2) svg:first-of-type {
        top: 45px;
    }
    .FAQ-item:nth-of-type(2) svg:last-of-type {
        top: 45px;
    }
}

@media all and (max-width: 370px) {
    .FAQ-title {
        margin-right: 24%;
    }
    .container-FAQ button {
        margin-top: 28px;
    }
}

@media all and (max-width: 370px) {
    .FAQ-item:nth-of-type(5) svg:first-of-type {
        top: 30px;
    }
    .FAQ-item:nth-of-type(5) svg:last-of-type {
        top: 30px;
    }
}

@media all and (max-width: 336px) {
    .FAQ-item:nth-of-type(3) svg:first-of-type {
        top: 45px;
    }
    .FAQ-item:nth-of-type(3) svg:last-of-type {
        top: 45px;
    }
}